@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease forwards;
}

@keyframes blob {
  0%, 100% {
    border-radius: 40% 60% 60% 40% / 40% 40% 60% 60%;
  }
  33% {
    border-radius: 60% 40% 40% 60% / 50% 60% 40% 50%;
  }
  66% {
    border-radius: 40% 60% 60% 40% / 60% 50% 50% 40%;
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
