<header class="site-header">
    <div class="brand-name">Payela</div>
    <nav>
        <ul class="nav-menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicos</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">Sobre</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Cadastro/Login</a>
                <div class="dropdown-content">
                    <a href="#">Cadastro</a>
                    <a href="#">Login</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
